.call-to-action-buttons {
    display: flex;

    span {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: inherit;
        word-break: break-all;
    }
}