.call-to-action-buttons {
    display: flex;

    span {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: inherit;
        word-break: break-all;
    }
}
.focusIndicator:focus {
  outline: thin solid #0000FF;
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #0000FF;
  border-radius: 4px;
}